*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;

}

h1,
h2,
h3{
     margin-bottom: 50px;
    text-align: center;
    font-family: inherit;
    font-size: 40px;
    font-weight: 600;
    color: #003b64;
}

a {
    color: #fff;
}
section{
    margin-top: 50px;
}
.clear{
    clear: both;
}

.overflow{
    overflow: auto;
    padding-bottom: 10px;
}

.span_1_of_4{
    float: left;
    margin-right: 12px;
    padding: 0 10px;
}
.head{
    width: 100%;
}


/*
contaier
*/
.contaier{
    width:100%;
}

.contain-wrapper{

    overflow-y: auto;

}

.drag {

    top:0;
    left:0;
    width : 100%;
}

.drag .img-wrapper{
    height: 50%;
}

.drag .img-wrapper img{
    width: 100%;
    height: 100%;
}
.drag .content-wrapper{
    height: 50%;
}

/*footer*/
footer{

}


#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}